a {
  text-decoration: none;
}
.img-icon {
    mix-blend-mode: darken;
    width: 3%;
    height: 3%;
}
.info-card {
    position: absolute;
    top: 7%;
    right: 58%;
    width: 30%;
    padding: 20px;
    height: 60%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 100;
    opacity: 0.6;
}
.map-container {
      width: 40%;
      height: 30%;
      box-sizing: border-box;
      margin: 20px auto;
      overflow: hidden;
    }

body {
    background-color: #5DB0C1;
    min-height: 100%;
    position: relative;
}

.border {
    border: 5px solid pink;
}

html {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background-color: MediumTurquoise;
}
/*----------------------Для панели навигации-------------------------*/
.nav nav {
    background:  #256D7B;
    border: 1px;
    width: 100%;
    font-weight: bold;
}

.nav .nav-item {
    position: relative;
    display: inline-block;
    height: 45px;
    padding-top: 10px;
    margin: 0px 25px 25px;
    background: transparent;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    z-index: 2;
}


.nav .nav-link {
    text-align: center;
    position: relative;
    color: white;
    transition: 0.3s ease-in-out;
    z-index: 2;

}


.nav .nav-link::before,
.nav .nav-link::after {
    position: absolute;
    left: 0px;
    top: 3px;
    transform: translateY(40px);
    width: 100%;
    font-size: 0.5em;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.nav .nav-link::before{
    content: "";
    height: 2px;
    background: linear-gradient(90deg, red, orange, yellow, #A7FC00, green, blue, purple, #DF73FF);
    background-size: 200% 100%;
    animation: animate-gradient 5s infinite linear;
}

.nav .nav-link::after{
    content: attr(data-text);
    transition-delay: 0s;
    font-size: 11px;
    position: absolute;
    left: 0px;
    top: 4px;
}

@keyframes animate-gradient{
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.nav .nav-item:hover .nav-link::before,
.nav .nav-item:hover .nav-link::after {
    opacity: 1;
    transform: translateY(32px);
    transition: 0.3s ease-in-out;
}
/*----------------------Для header-------------------------*/
.center-flex {
    width: 100%;
    text-align: center;
    position: relative;ч
}

.text_title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.l5 {
    position: relative;
    margin-left: 5%;
}
.l10 {
    position: relative;
    margin-left: 10%;
}
.r5 {
    position: relative;
    margin-right: 5%;
}
.r10 {
    position: relative;
    margin-right: 10%;
}
/*----------------------Для плавного появления текста-------------------------*/
.slide-left {
  animation: slideFromLeft 0.55s linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px) translateY(5vw);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(7vw);
  }
}


/*-------------------Форма-------------------*/
form {
    width: 30%;
    margin: 0 auto;
}

/*-------------------Вода-------------*/
@keyframes water-fill {
  0%, 100% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  50% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

.water-loader {
  animation: water-fill 2s infinite linear;
  background: radial-gradient(var(--r1) var(--r2) at top, #fff, #000);
}