{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Мои поездки</h1>
<hr>
<a href="/create_plan" class="btn btn-success" style="width: 60%; margin: 0 auto;">Создать поездку</a>
{% if plans %}
    {% for plan in plans %}
        <div class="water-loader rounded border border-primary border-2 p-1" style="width: 60%; margin: 0 auto;">
            <h2>{{ plan.place }}</h2>
            <div>
                Нужно человек: {{ plan.count_people }}<br>
                Дата: {{ plan.data.strftime('%d.%m.%Y') if plan.data else 'не указана' }}<br>
                Время: {{ plan.time.strftime('%H:%M') if plan.time else 'не указано' }}
            </div>
            <div>
                <a href="/edit_plan/{{ plan.id }}" class="btn btn-warning">Изменить</a>
                <a href="/delete_plan/{{ plan.id }}" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}